@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    /* Primary */
        /* Text */
        --very-dark-desaturated-blue: hsl(238, 29%, 16%);
        --soft-red: hsl(14, 88%, 65%);

        /* Gradient */
        --soft-violet: hsl(273, 75%, 66%);
        --soft-blue: hsl(240, 73%, 65%);

    /* Neutral */
        /* Text */
        --very-dark-grayish-blue: hsl(237, 12%, 33%);
        --dark-grayish-blue: hsl(240, 6%, 50%);

        /* Dividers */
        --light-grayish-blue: hsl(240, 5%, 91%);

    /* Typography */
        --font-family: 'Kumbh Sans', sans-serif;
        --body-copy: 12px;
        --regular: 400;
        --bold: 700;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(var(--soft-violet),var(--soft-blue));
    font-family: var(--font-family);
    font-size: var(--body-copy); 
    color: var(--dark-grayish-blue);  
}

/* FAQ COMPONENT */
.faq-component{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: white;
    width: 80vw;
    min-width: 327px;
    padding-bottom: 17px;
    border-radius: 22px;
}

.mobile-header{
    position: absolute;
    top: -110px;
    left: auto;
    right: auto;
}

.mobile-image-shadow{
    position: relative;
    top: -80px;
}

.desktop-header{
    display: none;
    position: absolute;
    left: -90px;
    z-index: 1;
}

.desktop-box{
    position: absolute;
    top: 135px;
    left: -6px;
}

.desktop-image-shadow{
    position: absolute;
    width: 200%;
    top: -350px;
    right: 0;
    z-index: -1;

}

.faq-contents{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 130px;
    padding-bottom: 48px;
    width: 85%;
}

.faq-contents h1{
    font-size: 32px;
    font-weight: var(--bold);
    color: var(--very-dark-desaturated-blue);
    text-align: center;
    margin-bottom: 16px;
}

.faq-accordion, .faq-panel{
    display: flex;
    background: none;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding-bottom: 17px;
    width: 100%;
}

.faq-accordion{
    border-bottom: 1px solid var(--light-grayish-blue);
    padding-top: 17px;
    font-size: 13px;
    text-align: left;
    color: var(--very-dark-grayish-blue);
    cursor: pointer;
}

.faq-accordion img{
    height: 8px;
}

.faq-accordion:hover{
    color: var(--soft-red);
}

.faq-accordion.active{ /* Probando el modo activo */
    border-bottom: none;
    color: var(--very-dark-desaturated-blue);
    font-weight: bold;
}

.faq-accordion.active img{
    transform: rotate(180deg);
}

.faq-panel{
    display: none;
    overflow: hidden;
    font-size: 12px;
    line-height: 1.8;
}

.faq-panel p{
    width:85%;
}

.faq-panel.active{
    border-bottom: 1px solid var(--light-grayish-blue);
}

@media screen and (min-width: 992px){
    .faq-component{
        width: 70vw;
        min-width: 760px;
        max-width: 920px;
        flex-direction: row;
        justify-content: flex-end;
        padding-bottom: 0;
    }

    .mobile-header{
        display: none;
    }

    .desktop-header{
        display: block;
    }

    .faq-contents{
        padding-right: 85px;
        padding-top: 63px;
        padding-bottom: 83px;
        width: 47.5%;
        align-items: right;
    }

    .faq-accordion{
        font-size: 14px;
    }

    .faq-panel p{
        width:90%;
    }

}